**/RelWithDebInfo/
/CMakeFiles/
/.vs/
/Debug/
**/RelWithDebInfo/
**/.vs/
**/AnyCPU/Debug/
**/Debug/
CMakeCache.txt
**/CMakeFiles/
*.bak
*.vcxproj
*.vcxproj.*
cmake_install.cmake
*.sln
*.speccache
*.suo
*.csproj
*.sdf
